.wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.creator-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  opacity: 1;
  border-radius: 30px;
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  outline: none;
  z-index: 7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.creator-button_wrapper {
  position: absolute !important;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-family: Arial;
  font-weight: 600;
  letter-spacing: 0px;
  z-index: 7;
  border-radius: 30px;
  width: 200px;
}

.creator-text_wrapper {
  position: absolute !important;
  top: 70px;
  left: 0;
  text-align: left;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: 0px;
  z-index: 12;
  width: 200px;
}
.creator-text_wrapper p {
  outline: none;
  margin: 0;
}

.handle-source {
  z-index: 10;
}
